.drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 90;
  transform: translateX(0px);
  transition: all 0.22s ease-in;
}

.drawer.close {
  transform: translateX(-300px);
}

.drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer ul li {
  margin-bottom: 15px;
}

.drawer ul li a {
  position: relative;
  padding: 0 20px 10px;
  color: #363f54;
  font-size: 30px;
  text-decoration: none;
  background-color: #ffffff;
  transition: all 0.3s;
}
.active,
.drawer ul li a:hover {
  opacity: 0.7;
}


